.card{
    background-color: rebeccapurple;
    background-image: -moz-repeating-linear-gradient();
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-block: hidden;
}